.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.component-heading {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Ensure there's space below the heading */
}

/* The following ensures that the component container does not exceed the width of its contents */
.dashboard, .historical-data-container {
  width: 100%;
  box-sizing: border-box;
}


.component-divider {
  margin: 20px 0;
}

